<% if @nested %>
  <h2><%=@user.username%>'s Posts!!</h2>
<% else %>
 <h2>All Posts!!</h2>
<% end %>
<%= link_to "Posts By Votes", ordered_by_votes_posts_path %>

<%= render partial: 'posts_display' %>