<% if @nested %>
  <h2><%=@user.username%>'s Posts!!</h2>
<% else %>
 <h2>All Posts!!</h2>
<% end %>

<% @posts.each do |post| %>
<div class="container border shadow-sm p-2 mb-2 bg-white rounded">
  <h4><%= link_to post.title, post_path(post) %></h4>
  <p><%= post.user.username %></p>
</div>
<% end %>